 <div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <!-- Filter the logs  -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='logs && logs.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Log</th>
                        <th>Date</th>
                        <th>Event type</th>
                        <th>User</th>
                        <th>Risk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let log of logs | logFilter:listFilter'>
                        <td>
                            <img *ngIf='showImage'
                                 [src]='log.imageUrl'
                                 [title]='log.logName | uppercase'
                                 [style.width.px]='imageWidth' 
                                 [style.margin.px]='imageMargin'>
                        </td>
                        <td><a [routerLink]="['/log', log.logId]">
                            {{log.logName}}
                            </a>
                        </td>
                        <td>{{ log.releaseDate }}</td>
                        <td>{{ log.eventType }}</td>
                        <td>{{ log.user }}</td>
                        <td>
                            <ai-star [rating]='log.starRating'
                                    (ratingClicked)='onRatingClicked($event)'>
                            </ai-star>
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
